@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap");


@import "bigSlider.css";
@import "button.css";
@import "card.css";
@import "Footer.css";
@import "megaMenu.css";
@import "navMenu.css";
@import "typo.css";
@import "responsive.css";
@import "onboard.css";
@import "common.css";
@import "cartList.css";
@import "productDetails";

body{
    background-color: #ffffff;
}
